<div class="panel panel-default">
	<div class="panel-heading">{{ block('heading') }}</div>
	<div class="panel-body">{{ block('body') }}</div>
	<div class="panel-footer">{{ block('footer') }}</div>
</div>